<div>
  <div>Счет №<%=@order.number%> </div>
  <div>Сумма: <%=@order.total%></div>
  <div>
    <%= payment_method.payment_button({:invoice => @order.number[1..-1], :summa =>  @order.total, :value => "Оплатить"},  {:shpa => "omed"}) %> 
  </div>
</div>

